*.bak
/NewMast.cfg
/NewMast.mep
/NewMast.workspace.layout
/C.TAG
/Multi_Edit.LOG
/bin
/obj
/MeFind0.tmp
/MeFind1.tmp
/ProjectFiles.txt
/TMP_LIST.TMP
/TMP_RSLT.TMP
/NewMast.mps
/ProjectFiles_CodeStat.txt
/ProjectFiles_FilesStat.txt
/*.tag
/cxxtest/cxxtest/*.TAG
/cxxtest/cxxtest/Cxxtest.cfg
/cxxtest/cxxtest/Cxxtest.mep
/cxxtest/cxxtest/MeFind0.tmp
/cxxtest/cxxtest/Multi_Edit.LOG
/cxxtest/cxxtest/ProjectFiles.txt
/*.LOG
*.wlf
/Note.txt
/Logger/Logger.pro.user
/CMakeLists.txt.user
/Build_QT_CMake_Debug
/Build_QT_CMake_Release
/*.twi
/Backup.bat
/Backup_to_UsbKey.bat
/cxxtest/python/cxxtest/*.pyc
/cxxtest/python/python3/cxxtest/__pycache__/*.pyc
/cxxtest/python/python3/cxxtest/*.pyc
/cxxtest/python/python3/cxxtest/parsetab.py
/Lib_UT/Generated/Runner.cpp
/Build_Qt
/NewMast.pro.user
/cxxtest/.hg
/cxxtest/*.hgignore
/.tgitconfig
/Temp.py
/Temp.txt
/Temp.cpp
/Test.py
/Build_CMake
/cmake_debug
/cmake_release
/SIT_parser/SIT_parser.output
/CanLoop.txt
/SIT_parser_UT/Generated
/SIT_reader/SIT_parser.output
/SIT_reader_UT/Generated/Runner.cpp
/SIT_reader/*.txt
/openocd/bin/*
/openocd/include/*
/openocd/openocd-builder/openocd/*
/openocd/openocd-builder/build/*
/openocd/*
/Mast_UT/Generated/Runner.cpp
/Doxygen_Doc/html/index.html
/Doxygen_Doc/html
/Doxygen_Doc/index.html.lnk
/vhdl/transcript
/vhdl/MAST_write.so
/vhdl/MAST_write.o
/vhdl/data_to_rtl.svf
/vhdl/data_from_rtl.dat
/vhdl/work/*
/prototype/ML505/ISE/*
!/prototype/ML505/ISE/JTAG_proto.xise
*.ace
*.bit
/Doxygen_Doc/CPP_API/html
/Doxygen_Doc/C_API/html
/Doxygen_Doc/FULL_API/html
/Doxygen_Doc/CPP_API/*.lnk
/Doxygen_Doc/C_API/*.lnk
/Doxygen_Doc/FULL_API/*.lnk
/Doxygen_Doc/MastDev/*.lnk
/Doxygen_Doc/MastDev/html
/tmp/*
/to_RTL/*
*.dat
*.txt
License/license.mast
MastExample_CPP/SIT/*.gml
*.svf
*.bin
Intel/src/archive/
*.gz
*.gml
*.sit

