*.bak
/NewMast.cfg
/NewMast.mep
/NewMast.workspace.layout
/C.TAG
/Multi_Edit.LOG
/bin
/obj
/MeFind0.tmp
/MeFind1.tmp
/ProjectFiles.txt
/TMP_LIST.TMP
/TMP_RSLT.TMP
/NewMast.mps
/ProjectFiles_CodeStat.txt
/ProjectFiles_FilesStat.txt
/*.tag
/Lib/*.depend
/Lib/*.layout
/Lib_UT/*.depend
/Lib_UT/*.layout
/cxxtest/cxxtest/*.TAG
/cxxtest/cxxtest/Cxxtest.cfg
/cxxtest/cxxtest/Cxxtest.mep
/cxxtest/cxxtest/MeFind0.tmp
/cxxtest/cxxtest/Multi_Edit.LOG
/cxxtest/cxxtest/ProjectFiles.txt
/*.LOG
/Note.txt
/Lib_UT/Lib_UT_build_log.html
/*.twi
/Backup.bat
/Backup_to_UsbKey.bat
/cxxtest/python/python3/cxxtest/__pycache__/__init__.cpython-35.pyc
/cxxtest/python/python3/cxxtest/__pycache__/__release__.cpython-35.pyc
/cxxtest/python/python3/cxxtest/__pycache__/cxx_parser.cpython-35.pyc
/cxxtest/python/python3/cxxtest/__pycache__/cxxtest_fog.cpython-35.pyc
/cxxtest/python/python3/cxxtest/__pycache__/cxxtest_misc.cpython-35.pyc
/cxxtest/python/python3/cxxtest/__pycache__/cxxtest_parser.cpython-35.pyc
/cxxtest/python/python3/cxxtest/__pycache__/cxxtestgen.cpython-35.pyc
/cxxtest/python/python3/cxxtest/__pycache__/parsetab.cpython-35.pyc
/cxxtest/python/python3/cxxtest/parsetab.py
