!/prototype/ML505/ISE/JTAG_proto.xise
*.ace
*.bak
*.bin
*.bit
*.dat
*.gml
*.gz
*.svf
*.wlf
/*.LOG
/*.tag
/*.twi
/.tgitconfig
/Backup.bat
/Backup_to_UsbKey.bat
/Build_CMake
/Build_QT_CMake_Debug
/Build_QT_CMake_Release
/Build_Qt
/Build_Qt_CMake
/C.TAG
/CMakeLists.txt.user
/CanLoop.txt
/CodeCoverage
/Doxygen_Doc/CPP_API/*.lnk
/Doxygen_Doc/CPP_API/html
/Doxygen_Doc/C_API/*.lnk
/Doxygen_Doc/C_API/html
/Doxygen_Doc/FULL_API/*.lnk
/Doxygen_Doc/FULL_API/html
/Doxygen_Doc/MastDev/*.lnk
/Doxygen_Doc/MastDev/html
/Doxygen_Doc/html
/Doxygen_Doc/html/index.html
/Doxygen_Doc/index.html.lnk
/Doxygen_Doc/index - MastDev.lnk
/External_Libs/OpenOCD/*
/External_Libs/OpenOCD/bin/*
/External_Libs/OpenOCD/include/*
/External_Libs/OpenOCD/openocd-builder/build/*
/External_Libs/OpenOCD/openocd-builder/openocd/*
/External_Libs/xmlrpc-c/config.log
/External_Libs/xmlrpc-c/config.mk
/External_Libs/xmlrpc-c/config.status
/External_Libs/xmlrpc-c/lib/*.a
/External_Libs/xmlrpc-c/lib/*.so
/External_Libs/xmlrpc-c/lib/*.so*
/External_Libs/xmlrpc-c/lib/*/*.so
/External_Libs/xmlrpc-c/lib/abyss++/blddir
/External_Libs/xmlrpc-c/lib/abyss++/depend.mk
/External_Libs/xmlrpc-c/lib/abyss++/srcdir
/External_Libs/xmlrpc-c/lib/abyss/src/blddir
/External_Libs/xmlrpc-c/lib/abyss/src/depend.mk
/External_Libs/xmlrpc-c/lib/abyss/src/srcdir
/External_Libs/xmlrpc-c/lib/curl_transport/blddir
/External_Libs/xmlrpc-c/lib/curl_transport/depend.mk
/External_Libs/xmlrpc-c/lib/curl_transport/srcdir
/External_Libs/xmlrpc-c/lib/expat/gennmtab/depend.mk
/External_Libs/xmlrpc-c/lib/expat/xmlparse/depend.mk
/External_Libs/xmlrpc-c/lib/expat/xmlparse/srcdir
/External_Libs/xmlrpc-c/lib/expat/xmltok/blddir
/External_Libs/xmlrpc-c/lib/expat/xmltok/depend.mk
/External_Libs/xmlrpc-c/lib/expat/xmltok/srcdir
/External_Libs/xmlrpc-c/lib/libutil++/blddir
/External_Libs/xmlrpc-c/lib/libutil++/depend.mk
/External_Libs/xmlrpc-c/lib/libutil++/srcdir
/External_Libs/xmlrpc-c/lib/libutil/blddir
/External_Libs/xmlrpc-c/lib/libutil/depend.mk
/External_Libs/xmlrpc-c/lib/libutil/srcdir
/External_Libs/xmlrpc-c/lib/util/blddir
/External_Libs/xmlrpc-c/lib/util/depend.mk
/External_Libs/xmlrpc-c/lib/util/srcdir
/External_Libs/xmlrpc-c/shell_config
/External_Libs/xmlrpc-c/src/blddir
/External_Libs/xmlrpc-c/src/cpp/blddir
/External_Libs/xmlrpc-c/src/cpp/depend.mk
/External_Libs/xmlrpc-c/src/cpp/srcdir
/External_Libs/xmlrpc-c/src/depend.mk
/External_Libs/xmlrpc-c/src/libxmlrpc_client.cflags
/External_Libs/xmlrpc-c/src/libxmlrpc_client.ldflags
/External_Libs/xmlrpc-c/src/srcdir
/External_Libs/xmlrpc-c/srcdir.mk
/External_Libs/xmlrpc-c/stamp-h
/External_Libs/xmlrpc-c/test/blddir
/External_Libs/xmlrpc-c/test/cpp/blddir
/External_Libs/xmlrpc-c/test/cpp/depend.mk
/External_Libs/xmlrpc-c/test/cpp/srcdir
/External_Libs/xmlrpc-c/test/depend.mk
/External_Libs/xmlrpc-c/test/srcdir
/External_Libs/xmlrpc-c/tools/lib/blddir
/External_Libs/xmlrpc-c/tools/lib/depend.mk
/External_Libs/xmlrpc-c/tools/lib/srcdir
/External_Libs/xmlrpc-c/tools/xml-rpc-api2cpp/blddir
/External_Libs/xmlrpc-c/tools/xml-rpc-api2cpp/depend.mk
/External_Libs/xmlrpc-c/tools/xml-rpc-api2cpp/srcdir
/External_Libs/xmlrpc-c/tools/xml-rpc-api2txt/blddir
/External_Libs/xmlrpc-c/tools/xml-rpc-api2txt/depend.mk
/External_Libs/xmlrpc-c/tools/xml-rpc-api2txt/srcdir
/External_Libs/xmlrpc-c/tools/xml/blddir
/External_Libs/xmlrpc-c/tools/xml/depend.mk
/External_Libs/xmlrpc-c/tools/xml/srcdir
/External_Libs/xmlrpc-c/tools/xmlrpc/blddir
/External_Libs/xmlrpc-c/tools/xmlrpc/depend.mk
/External_Libs/xmlrpc-c/tools/xmlrpc/srcdir
/External_Libs/xmlrpc-c/tools/xmlrpc_cpp_proxy/blddir
/External_Libs/xmlrpc-c/tools/xmlrpc_cpp_proxy/depend.mk
/External_Libs/xmlrpc-c/tools/xmlrpc_cpp_proxy/srcdir
/External_Libs/xmlrpc-c/tools/xmlrpc_transport/blddir
/External_Libs/xmlrpc-c/tools/xmlrpc_transport/depend.mk
/External_Libs/xmlrpc-c/tools/xmlrpc_transport/srcdir
/External_Libs/xmlrpc-c/xmlrpc-c-config
/External_Libs/xmlrpc-c/xmlrpc-c-config.test
/External_Libs/xmlrpc-c/xmlrpc_amconfig.h
/External_Libs/xmlrpc-c/xmlrpc_config.h
/External_Libs_UT/Generated
/Lib_UT/Generated/Runner.cpp
/Logger/Logger.pro.user
/Mast_UT/Generated/Runner.cpp
/MeFind0.tmp
/MeFind1.tmp
/Multi_Edit.LOG
/NewMast.cfg
/NewMast.mep
/NewMast.mps
/NewMast.pro.user
/NewMast.workspace.layout
/Note.txt
/Optional_Libs_UT/Generated/Runner.cpp
/ProjectFiles.txt
/ProjectFiles_CodeStat.txt
/ProjectFiles_FilesStat.txt
/TMP_LIST.TMP
/TMP_RSLT.TMP
/Temp.cpp
/Temp.py
/Temp.txt
/Test.py
/UT_Tests_Common_Log.txt
/UserOptions.cmake
/_Exports
/bin
/cmake_code_coverage
/cmake_debug
/cmake_release
/cmake_arm
/cmake_riscV
/cxxtest/*.hgignore
/cxxtest/.hg
/cxxtest/cxxtest/*.TAG
/cxxtest/cxxtest/Cxxtest.cfg
/cxxtest/cxxtest/Cxxtest.mep
/cxxtest/cxxtest/MeFind0.tmp
/cxxtest/cxxtest/Multi_Edit.LOG
/cxxtest/cxxtest/ProjectFiles.txt
/cxxtest/python/cxxtest/*.pyc
/cxxtest/python/python3/cxxtest/*.pyc
/cxxtest/python/python3/cxxtest/__pycache__/*.pyc
/cxxtest/python/python3/cxxtest/parsetab.py
/obj
/openocd/lib/*.so
/openocd/openocd/autom4te.cache*
/openocd/openocd/jimtcl/configure.gnu
/prototype/ML505/ISE/*
/tmp/*
/to_RTL/*
/vhdl/MAST_write.o
/vhdl/MAST_write.so
/vhdl/data_from_rtl.dat
/vhdl/data_to_rtl.svf
/vhdl/transcript
/vhdl/work/*
/vhdl/*.do
/vhdl/*.log
/vhdl/*.txt
/vhdl/Debug_mux
/vhdl/MIB_Tutorial
/vhdl/Mast
transcript
Intel/src/archive/
License/license.mast
MastExample_CPP/SIT/*.gml
build
/Readers/SIT_Reader/SIT_Lexer.yy.cc
/Readers/SIT_Reader/SIT_Parser.output
/Readers/SIT_Reader/SIT_Parser.tab.cc
/Readers/SIT_Reader/SIT_Parser.tab.hh
/CppCheck_Results.txt
/External_Libs/Yaml/.travis.yml
/SystemVerilog/.v*
/Applications/Debug_mux/ETS/
/Applications/Debug_mux/tmp/
/RTL/vhdl/work/*
/RTL/vhdl/*.log
/RTL/vhdl/*l.txt
/RTL/vhdl/*.so
/RTL/vhdl/Bin
/RTL/vhdl/Examples
/RTL/vhdl/Lib
/RTL/vhdl/Mast
/RTL/vhdl/Simulation_exchange_files/*
/SPICE/.DS_Store
.DS_Store

